/* /* .solar-card .card-body {
    background-image: url('https://wallpapercave.com/wp/wp4077236.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 1rem 1rem; /* rounded bottom corners to match 
    color: white;
}*/ 
/*
.solar-card .card-body {
    background: linear-gradient(to top, #ff512f, #dd2476); /* sunset colors 
    color: white;
} */
